<nav class="navbar navbar-expand-lg navbar-light bg-dark text-light shadow-sm mb-4">
  <div class="container">
    <a class="navbar-brand fw-bold text-light" href="/">ضرب‌المثل‌های افغانستان</a>

    <form class="d-flex ms-auto" action="/" method="GET">
      <input class="form-control me-2" type="search" name="q" placeholder="جستجو..." value="<%= query || '' %>">
      <button class="btn btn-primary me-2" type="submit"><i class="bi bi-search"></i></button>
    </form>
    <br>
    <a href="/random" class="btn btnA btn-primary">انتخاب ضرب‌المثل تصادفی</a>
  </div>
</nav>